<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account Edit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />

    </head>

    <body>
        <h3>Plz fill up your information</h3>
         <div class="container">
            <h2>Edit Account Details</h2>
            <div>
                <form th:action="@{/account_edit_result}" th:object="${account}" method="post">

                    <div class="form-group">
                        <label for="usr">Id:</label>
                        <input type="text" class="form-control" th:field="*{aId}"/>
                    </div>
                    <!-- start : problem : double query execution-->
<!--                    <div class="form-group">
                        <label for="usr">Id:</label>
                        <input type="text" class="form-control" th:text="*{aId}"/>
                        </div>-->
                    
                     <!--2-->
<!--                    <div class="container">
                        <h1>Id : <span class="label label-default" th:field="{aId}" ></span></h1>
                        </div>-->
                    <!--2-->
                    <!-- End: problem : double query execution-->

                    <div class="form-group" >
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="usr" th:field="*{aName}" />
                    </div>

                    <div class="form-group">
                        <label for="pwd">Address:</label>
                        <input type="text" class="form-control" id="pwd" th:field="*{aAddress}"/>
                    </div>

                    <div class="form-group">
                        <label for="amo">Amount:</label>
                        <input type="text" class="form-control" id="amo" th:field="*{aAmount}"/>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit Edit</button>
                </form>
            </div>
        </div>
    </body>
</html>