<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Transfer money</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />

    </head>

     <body>
           <h3>Transfer Money</h3>
        <form th:action="@{/balance_transfer_m}" th:object="${accountTransfermoney}" method="post">
            <div class="form-group">
                        <label for="usr">My Id:</label>
                        <input type="text" class="form-control" th:field="*{aid}"/>
            </div>
            <div class="form-group">
                        <label for="amo">Transfer Amount:</label>
                        <input type="text" class="form-control" id="amo" th:field="*{transferMoney}"/>
            </div>
            <div class="form-group">
                        <label for="usr">Transfer Id:</label>
                        <input type="text" class="form-control" th:field="*{aid1}"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
           
           
        <div class="container">
            <table border="1" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Account Holder Name</th>
                        <th>Address</th>
                        <th>Amount</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="account : ${accountList}">
                        <td th:text="${account.aId}">1</td>
                        <td th:text="${account.aName}">$350</td>
                        <td th:text="${account.aAddress}">28-Jun-2013</td>
                        <td th:text="${account.aAmount}">$350</td>
                        <td><a th:href="${'/account/edit/' + account.aId}" class="btn btn-sm btn-primary">Edit</a></td>
                        <!--<td><button type="submit" class="btn btn-danger btn-sm">Delete</button></td>-->
                        <td><a th:href="${'/account/delete/' + account.aId}" class="btn btn-danger">Delete</a></td>
                    </tr>
                </tbody>

            </table>
        </div>
    
           
     </body>
</html>