<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Branch Creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
    </head>
    <body>
        <h3>Plz fill up your information</h3>
        <form th:action="@{/branch_creation_result}" th:object="${branch}" method="post">
            <div class="form-group" >
                <label for="usr">Branch Name :</label>
                <input type="text" class="form-control" id="usr" th:field="*{bName}" />
            </div>
            <div class="form-group">
                <label for="pwd">Account List :</label>
                <input type="text" class="form-control" id="pwd" th:field="*{acountList}"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit post</button>
        </form>
        <div class="container">
            <table border="1" class="table">
                <thead>
                    <tr>
                        <th>Branch Id</th>
                        <th>Branch Name</th>
                        <th>Branch Account List</th>
                        <!--<th>Edit</th>-->
                        <!--<th>Delete</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="branch : ${branchList}">
                        <td th:text="${branch.bId}">1</td>
                        <td th:text="${branch.bName}">$350</td>
                        <td th:text="${branch.acountList}">$350</td>
                    <!--demo tag    <td><button type="submit" class="btn btn-sm btn-primary">Edit</button></td>-->
                    <!--project tag    <td><a th:href="${'/branch/edit/' + branch.bId}" class="btn btn-sm btn-primary">Edit</a></td>-->
                    <!--demo    <td><button type="submit" class="btn btn-danger btn-sm">Delete</button></td>-->
                    <!--project tag   <td><a th:href="${'/branch/delete/' + branch.bId}" class="btn btn-danger">Delete</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </body> 
</html>

