<!DOCTYPE html>
<html>
    <head>
        <title>All Branch show</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
    </head>
    <body>
        <div class="container">
            <table border="1" class="table">
                <thead>
                    <tr>
                        <th>Branch Id</th>
                        <th>Branch Name</th>
                        <th>Account List</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Account Create</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="branch : ${branchList}">
                        <td th:text="${branch.bId}">1</td>
                        <td th:text="${branch.bName}">$350</td>
                        <td >
                            <table border="1" class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Account Holder Name</th>
                                        <th>Address</th>
                                        <th>Amount</th>
                                        <!--<th>Edit</th>-->
                                        <!--<th>Delete</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="account : ${branch.acountList}">
                                        <td th:text="${account.aId}">1</td>
                                        <td th:text="${account.aName}">$350</td>
                                        <td th:text="${account.aAddress}">28-Jun-2013</td>
                                        <td th:text="${account.aAmount}">$350</td>
                                        <!--<td><a th:href="${'/account/edit/' + account.aId}" class="btn btn-sm btn-primary">Edit</a></td>-->
                                        <!--<td><a th:href="${'/account/delete/' + account.aId}" class="btn btn-danger">Delete</a></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <!--<td><button type="submit" class="btn btn-sm btn-primary">Edit</button></td>-->
                        <td><a th:href="${'/branch/edit/' + branch.bId}" class="btn btn-sm btn-primary">Edit</a></td>
                        <!--<td><button type="submit" class="btn btn-danger btn-sm">Delete</button></td>-->
                        <td><a th:href="${'/branch/delete/' + branch.bId}" class="btn btn-danger">Delete</a></td>
                       
                        <td><a th:href="${'/branch/account_create/' + branch.bId}" class="btn btn-sm btn-primary">Create</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>