<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Branch Edit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />

    </head>
    <body>
        <h3>plz edit your Branch information</h3>
        <form th:action="@{/branch_edit_result}" th:object="${branch}" method="post">
            <div class="form-group">
                <label for="usr">Id:</label>
                <input type="text" class="form-control" th:field="*{bId}"/>
            </div>

            <div class="form-group" >
                <label for="usr">Branch Name :</label>
                <input type="text" class="form-control" id="usr" th:field="*{bName}" />
            </div>
            <div class="form-group">
                <label for="pwd">Account List :</label>
                <input type="text" class="form-control" id="pwd" th:field="*{acountList}"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit edit</button>
        </form>

    </body>
</html>