<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account Edit Result</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />

    </head>
    
    <body>
        <div class="container">
            <h1>Id : <span class="label label-default" th:text="${bId}" ></span></h1>
        </div>

        <div class="container">
            <h1>Branch Name :  <span class="label label-default" th:text="${name}"></span></h1>
        </div>

        <div class="container">
            <h1>Account List: <span class="label label-default" th:text="${brnach_list}" ></span></h1>
        </div>

    </body>

</html>