<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Branch Creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
    </head>
    <body>
        <h3>Plz fill up your information</h3>

        <h1>Id : <span class="label label-default" th:text="${brId}" ></span></h1>
        <form th:action="@{/create_account_under_branch_result}" th:object="${accountUnderBranch}" method="post">
            <!--<form th:action="@{/create_account_under_branch_result}" th:object="${bId} && ${account}" method="post">-->
            <div class="container">

            </div>
            <div class="form-group">
                <label for="usr">Branch Id:</label>
                <!--<input type="text" class="form-control" id="bId" th:value="${brId}"/>-->
                <input type="text" class="form-control" th:field="*{bId}"/>
                <!--<input type="text" class="form-control" th:value="${brId}"/>-->
            </div>

            <div class="form-group" >
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr" th:field="*{account.aName}" />
            </div>

            <div class="form-group">
                <label for="pwd">Address:</label>
                <input type="text" class="form-control" id="pwd" th:field="*{account.aAddress}"/>
            </div>

            <div class="form-group">
                <label for="amo">Amount:</label>
                <input type="text" class="form-control" id="amo" th:field="*{account.aAmount}"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit post</button>
        </form>
    </body> 
</html>

